
.slider {
    /* transform: translate(-50%, -50%); */
    border-radius: 20px;
    align-items: center;

}

.slider label {
    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
    color: black;
}

.slider input[type="range"] {
    width: 750px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}



